.bar {
    display: flex;
    padding: 10px;
    gap: 600px;
}

.name {
    padding-left: 100px;
}

.list {
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-name {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    padding-top: 10px;
    font-size: 25px;
    line-height: 1;
}